@import "tailwindcss";

@theme {
    --font-sans: system-ui, sans-serif;
    --font-mono: monospace;
}

html {
    color-scheme: dark;
}
.btn-main, .btn-secondary {
    padding-block: calc(var(--spacing) * 1);
    padding-inline: calc(var(--spacing) * 3);
    font-weight: var(--font-weight-semibold);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
.btn-main {
    background-color: var(--color-indigo-900);
}
.btn-main:hover {
    background-color: var(--color-indigo-700);
}
.btn-secondary {
    background-color: var(--color-slate-700);
}
.btn-secondary:hover {
    background-color: var(--color-slate-600);
}
.btn-icon {
    color: var(--color-gray-300);
    padding: calc(var(--spacing) * 1);
    border-radius: var(--radius-sm);
}
.btn-icon:hover {
    color: inherit;
    background-color: var(--color-gray-800);
}
.btn-toggle-password {
    color: var(--color-gray-500);
    position: absolute;
    right: calc(var(--spacing) * 1);
    bottom: calc(var(--spacing) * 1);
    padding: calc(var(--spacing) * 1.5);
}
.btn-toggle-password:hover {
    color: var(--color-gray-300);
}
.input {
    background-color: inherit;
    padding-block: calc(var(--spacing) * 1);
    padding-inline: calc(var(--spacing) * 2);
    width: 100%;
    border-radius: var(--radius-sm);
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-gray-800);
    outline-style: none;
}
.input:hover {
    border-color: var(--color-gray-700);
}
.input:focus {
    border-color: var(--color-indigo-500);
}
.relative .input {
    padding-right: calc(var(--spacing) * 8) !important;
}
label {
    display: block;
    width: fit-content;
    padding-bottom: 1px;
}
button, label, input[type="radio"] {
    cursor: pointer;
}
svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}
button svg, button span {
    pointer-events: none;
}
.loader {
    width: 14px;
    height: 14px;
    border: 2px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader.hidden {
    display: none !important;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}