<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EndCrypt</title>
  <link rel="stylesheet" href="/static/css/output-07879fe5.min.css">
  <script defer src="/static/js/main-a96ed3d7.js"></script>
</head>
<body class="text-gray-50 bg-gray-950">
  <div class="max-w-[650px] mx-auto px-3 pb-10">
    <header class="text-center text-lg font-bold py-1">EndCrypt</header>
    <main>{% block main %}{% endblock %}</main>
  </div>
  <div id="visibility-icon" class="hidden">{% include 'icons/visibility.html' %}</div>
  <div id="visibility-off-icon" class="hidden">{% include 'icons/visibility_off.html' %}</div>
</body>
</html>