<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EndCrypt</title>
  <link rel="stylesheet" href="/static/css/output-a995e9de8a.min.css">
</head>
<body class="text-gray-50 bg-gray-950">
  <div class="max-w-[650px] mx-auto px-3 pb-10">
    <header class="text-center text-lg font-extrabold py-1">EndCrypt</header>
    <main>{% block main %}{% endblock %}</main>
  </div>
  <script src="/static/js/main-c58042b535.js"></script>
</body>
</html>