{% extends 'base.html' %}
{% block main %}
<div class="max-w-[350px] mx-auto mt-8">
  <div class="grid grid-cols-1 gap-4 text-center">
    <a href="/1" class="btn-secondary">Initiate exchange</a>
    <a href="/2" class="btn-secondary">Accept exchange</a>
    <a href="/3" class="btn-secondary">Encrypt / Decrypt</a>
  </div>
</div>
<div class="text-center break-all mt-8">
  <a
    href="https://github.com/ilyakotsar/endcrypt"
    class="text-gray-500 text-sm font-light hover:text-indigo-300"
    target="_blank"
  >
    github.com/ilyakotsar/endcrypt
  </a>
</div>
{% endblock %}