{% extends 'base.html' %}
{% block main %}
<div class="flex gap-1 items-center mt-2 mb-4 font-bold">
  <a href="/" class="btn-icon">
    {% include 'icons/arrow_back.html' %}
  </a>Initiate exchange
</div>
<form method="post">
  <div class="text-gray-500 text-sm mb-0.5">Diffie-Hellman key exchange:</div>
  <div class="flex items-center gap-4 mt-2 mb-3">
    <div>g:</div>
    <div class="flex gap-1">
      <input type="radio" id="g-2" name="g" value="2"{% if g == 2 %} checked{% endif %}>
      <label for="g-2">2</label>
    </div>
    <div class="flex gap-1">
      <input type="radio" id="g-5" name="g" value="5"{% if g == 5 %} checked{% endif %}>
      <label for="g-2">5</label>
    </div>
  </div>
  <div class="mb-4">
    <label for="key_size">Key size, Bit</label>
    <input id="key_size" name="key_size" type="number" min="1500" max="2048" value="{{ key_size }}" class="input">
  </div>
  <div class="text-gray-500 text-sm mb-0.5">Argon2id:</div>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-3 gap-y-4 mb-4">
    <div>
      <label for="iterations">Iterations</label>
      <input id="iterations" name="iterations" type="number" min="1" max="100" value="{{ iterations }}" class="input">
    </div>
    <div>
      <label for="memory">Memory, MiB</label>
      <input id="memory" name="memory" type="number" min="10" max="300" value="{{ memory }}" class="input">
    </div>
    <div>
      <label for="parallelism">Parallelism</label>
      <input id="parallelism" name="parallelism" type="number" min="1" max="20" value="{{ parallelism }}" class="input">
    </div>
  </div>
  <label for="password">Password</label>
  <div class="relative mb-6">
    <input type="password" id="password" name="password" value="{{ password }}" class="input">
    <button type="button" class="btn-toggle-password">
      {% include 'icons/visibility_off.html' %}
    </button>
  </div>
  <button type="submit" class="btn-main flex items-center gap-1">
    <span class="loader text-indigo-300 hidden"></span>Create configuration
  </button>
</form>
{% if conf %}
<div id="conf" class="break-all mt-4">{{ conf }}</div>
<button class="btn-secondary mt-4" copy="conf">Copy to clipboard</button>
{% endif %}
{% endblock %}